{% if categories %}
<div class="outline-band">
  <div class="band-label">Categories</div>
  <div class="band-body">
    <div class="cat-compare">
      <!-- Legend -->
      <div class="cat-compare-legend">
        <span class="cat-compare-legend-item">
          <span class="cat-compare-swatch cat-compare-swatch--left"></span>
          {{ left_label }}
        </span>
        <span class="cat-compare-legend-item">
          <span class="cat-compare-swatch cat-compare-swatch--right"></span>
          {{ right_label }}
        </span>
      </div>

      <!-- Bar pairs -->
      <div class="cat-compare-chart">
        {% for cat in categories %}
        <div class="cat-compare-col">
          <div class="cat-compare-bars">
            <a class="cat-compare-bar cat-compare-bar--left"
               href="{{ left_drill(category_id=cat.cat_id) if cat.cat_id else '#' }}"
               style="height: {{ cat.left_pct }}%;"
               title="{{ cat.name }}: {{ fmt_dollars(cat.left_cents) }}">
            </a>
            <a class="cat-compare-bar cat-compare-bar--right"
               href="{{ right_drill(category_id=cat.cat_id) if cat.cat_id else '#' }}"
               style="height: {{ cat.right_pct }}%;"
               title="{{ cat.name }}: {{ fmt_dollars(cat.right_cents) }}">
            </a>
          </div>
          <a class="cat-compare-name"
             href="{{ left_drill(category_id=cat.cat_id) if cat.cat_id else '#' }}"
             title="{{ cat.name }}">{{ cat.name }}</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
